<header class="header" id="header">
  <div class="d-flex align-items-center gap-4">
    <div class="header_toggle"><i class="bx bx-menu" id="header-toggle"></i></div>
    <nav aria-label="breadcrumb ">
      <ol class="breadcrumb d-flex align-items-center">
        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Tors</li>
      </ol>
    </nav>
  </div>
  <div class="dropdown">
    <button
      class="btn btn-outline-secondary dropdown-toggle"
      type="button"
      id="dropdownMenu2"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Ayarlar
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
      <li><button class="dropdown-item" type="button">Admin</button></li>
      <li><button class="dropdown-item" type="button">User</button></li>
      <li><button class="dropdown-item" type="button">Log Out</button></li>
    </ul>
  </div>
</header>
