{% extends 'base.html' %} {% load static %} {% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-9">
      <div class="row-6 border overflow-auto">{% include 'dashboard/includes/requestForm_request.html' %}</div>
      <div class="row-6 border overflow-auto">{% include 'dashboard/includes/requestForm_eventInfo.html' %}</div>
    </div>
    <div class="col-3 border">{% include 'dashboard/includes/requestForm_comment.html' %}</div>
  </div>
</div>

{% endblock content %}
