{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container-fluid">
  <div class="row">
    {% for trainer in data %}
    <div class="col-12 col-sm-6 col-lg-4 col-xl-3 ">
      <div class="trainer_card card  mb-3 overflow-auto shadow" style="height: 350px;">
        <div class="row g-0 p-2">
          <div class="col-md-4 d-flex flex-column gap-2">
            <img
              src="https://images.unsplash.com/photo-1531427186611-ecfd6d936c79?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
              class="img-fluid rounded"
            />
            <p
              class="border rounded text-center text-white {% if trainer.trainer_level == 'starter' %} bg-info {% elif trainer.trainer_level == 'standard' %} bg-warning {% elif trainer.trainer_level == 'premium' %} bg-primary {% elif trainer.trainer_level == 'elite' %} bg-success {% endif %}"
            >
              {{trainer.trainer_level}}
            </p>
            <a href="{% url 'dashboard:profile' %}" class="btn btn-primary mb-2">Go Profile</a>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{trainer.trainer_name}}</h5>
              <p class="card-text">{{trainer.trainer_info}}</p>
              <hr />
              <p>{{trainer.trainer_biodate}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
